.detalle-plan-content {
  --background: #101317;
}

.form-wrapper {
  padding: 16px;
}

ion-card {
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;

  ion-item {
    --inner-padding-end: 0;
  }
}

.buttons-wrapper {
  margin-top: 16px;

  ion-button + ion-button {
    margin-top: 8px;
  }
}
