<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding perfil-page">

  <div class="profile-top">
    <div class="avatar">{{ inicial }}</div>
    <h2>{{ usuario.nombre }}</h2>
    <p>{{ usuario.email }}</p>
  </div>

  <ion-card>
    <ion-card-content>
      <p><strong>Email</strong><br>{{ usuario.email }}</p>
      <p><strong>Teléfono</strong><br>{{ usuario.telefono }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary">
    Editar Perfil
  </ion-button>

  <ion-button expand="block" color="danger" (click)="logout()">
    Cerrar Sesión
  </ion-button>

</ion-content>
