<ion-content class="ion-padding splash-container">

  <div class="header">
    <h1>Bienvenido a Tigo</h1>
    <p>Selecciona una opción para continuar</p>
  </div>

  <div *ngIf="showButtons" class="botones">

    <ion-button expand="block" class="btn-invitado"
      (click)="explorarInvitado()">
      Explorar como invitado
    </ion-button>

    <ion-button expand="block" fill="outline" class="btn-login"
      (click)="goLogin()">
      Iniciar sesión
    </ion-button>

    <ion-button expand="block" class="btn-register"
      (click)="goRegister()">
      Registrarse
    </ion-button>

  </div>

</ion-content>
